<div class="home-body">
  <div class="home text-center">
    <h1>Dad Jokes</h1>
    <h2>Jokes that make you <span id="banner-typed-text"></span></h2>
    <div class="joke-day">
      <h3>Joke of the day</h3>
    </div>
  </div>
</div>
