<header class="jokes-header">
  <h1>The Jokes</h1>
</header>
<div class="app-container">
  <div class="row">
    <div class="col-12 col-md-9">
      <% @jokes.each do |joke| %>
        <div class="joke-card">
          <% link_to joke_path(joke) do %>
            <h3><%= joke.joke %></h3>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3 joke-image">

    </div>
  </div>
</div>
